<div class="col-8">
    <h3> Checkout as Guest</h3>
    <form [formGroup]="userForm">
        <div class="form-group">
            <label>Email:</label>
            <input type="email" class="form-control" formControlName="email" (change)="userFormChange()"
                [class.is-invalid]="userForm.get('email').invalid && userForm.get('email').touched" />
        </div>

        <div class="form-group">
            <label for="Country">Country:</label>
            <select formControlName="country" class="form-control" (change)="userFormChange()">
                <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
            </select>
        </div>
    </form>
</div>