<div class="col-md-8 mx-auto">
    <div *ngFor="let cartProduct of cartProducts;">
        <app-shopping-cart-item [cartProduct]="cartProduct"></app-shopping-cart-item>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="container-center">
                    <h4 class="card-text"> Total</h4>
                    <h4 class="card-text"> ${{orderTotal}}</h4>
                </div>
            </div>
        </div>
    </div>

    <app-user [(user)] = "user"></app-user>

    <div class="row margin-5">
        <div class="col-md-8 mx-auto">
            <button id="btnAddToCart" type="button" class="btn btn-primary" (click)="placeOrder()"
                [disabled]="!isCartReadyForSubmit">Place order</button>
        </div>
    </div>

</div>