<div class="col-md-8 mx-auto">

    <app-user [countries]="countries" [(user)]="user" (userChange)="onUserDataChange()"></app-user>

    <div *ngFor="let cartProduct of cartProducts;">
        <div class="row" *ngIf="selectedCountry">
            <div class="card">
                <div class="card-body">
                    <button class="close-button" mat-icon-button (click)="removeProduct(cartProduct)">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <h3 class="card-title">{{cartProduct.name}}</h3>
                    <div class="container-center">
                        <h4 class="card-text"> {{cartProduct.quantity}}</h4>
                        <h4 class="card-text"> {{selectedCountry.currency.symbol}}{{ currencyFactor * cartProduct.price
                            * cartProduct.quantity | number : '1.2-2'}}</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="selectedCountry">
        <div class="card">
            <div class="card-body">
                <div class="container-center">
                    <h4 class="card-text"> Total</h4>
                    <h4 class="card-text"> {{selectedCountry.currency.symbol}}{{ orderTotal | number : '1.2-2'}}</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-5">
        <div class="col-md-8 mx-auto">
            <button id="btnPlaceOrder" type="button" class="btn btn-primary" (click)="placeOrder()"
                [disabled]="!isCartReadyForSubmit">Place order</button>
            <button id="btnRemoveAll" type="button" class="btn btn-secondary" (click)="removeAll()"
                [disabled]="!cartProducts || cartProducts.length == 0">Remove all</button>
        </div>
    </div>

</div>